div.empty-list
{
	width: 100%;
	text-align: center;
	color: #BBB;
	padding: 10px;
	font-style: italic;
}
.navbar-nav .caret{
	color: #FFF !important;
}
.mt0
{
	margin-top: 0;
}
.progress-xs{
	height: 8px !important;
	margin-bottom: 0px !important;
}

.row.match-my-cols [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}

/** Bootstrap select customization **/
div.btn-group.bootstrap-select{
	border: 1px solid #e8e8e8;
    border-radius: 5px;
    background: #fff;
}
div.btn-group.bootstrap-select button,
div.btn-group.bootstrap-select button:hover,
div.btn-group.bootstrap-select button:active,
div.btn-group.bootstrap-select button:focus{
	border: none;
	background-color: #FFF !important;
	box-shadow: none !important;
	outline: none !important;
}
div.bootstrap-select .dropdown-menu > li > a{
	font-weight: 300;
}
div.bootstrap-select .dropdown-menu > li > a > span.fa{
    color: #4b6372;
    margin-right: 10px;
    font-size: 16px;
    width: 15px;
}
div.bootstrap-select button.btn-default{
	font-weight: 300;
	color: #4b6372;
}
div.bootstrap-select .dropdown-menu > .active > a,
div.bootstrap-select .dropdown-menu > .active > a:hover,
div.bootstrap-select .dropdown-menu > .active > a:focus{
	background-color: #FFF;
	color: #4b6372;
}
.bootstrap-select.btn-group .dropdown-toggle .filter-option{
	font-size: 13px !important;
	color: #4b6372 !important;
}
/** End of bootsrap select customization **/

/** Bootstrap datepicker customization **/
div.datepicker {
	padding: 10px;
}
/** End of bootstrap datepicker customization **/


/** Bootstrap daterangepicker customization **/
div#reportrange{
    border: none !important;
    border-radius: 5px !important;
    background: transparent !important;
    padding: 5px 10px !important;
    color: #4b6372 !important;
    font-size: 13px !important;  
    cursor: pointer;
}
.caret{
	float: right;
    margin-right: 4px;
    margin-top: 10px;
    color: #4b6372 !important;
}
/** End of bootstrap daterangepicker customization **/


/** Pretty checkbox **/
div.pretty{
	margin-top: 10px;
}
div.pretty .state label{
	font-weight: 300 !important;
}
/** End of pretty checkbox **/

/** Transactions filer **/
div.transactions-filter
{
	padding: 10px;
	background-color: #f9fafb;
}
div.transactions-filter div.btn-group.bootstrap-select
{
	width: auto !important;
	background-color: transparent !important;
	border: none !important;
}
div.transactions-filter div.btn-group.bootstrap-select button
{
	background-color: transparent !important;
}
div.transactions-filter .badge 
{
	background-color: #cecece;
    margin-top: 7px;
    color: #fff;
}
/** End of transactions filter **/

/** Transaction table **/
table.table tr td span.amount
{
	padding: 3px 10px;
    color: #666;
    font-family: "Roboto Condensed";
    border-radius: 7px;
    font-size: 12px;
}
table.table tr td.due-at{
	font-size: 12px;
}
table.table tr td span.amount fa{
	margin-right: 10px;
}
table.table tr td p.subtablecell{
	margin-bottom: 0px;
	font-size: 11px;
	font-weight: 400;
	color: #a1a1a1;
}
table td.fixed-width-m,
table th.fixed-width-m{
	width: 130px !important
}
td.row-actions ul{
    visibility: hidden;
    margin: 0;
    padding: 0;
}
td.row-actions ul li 
{
    display: inline;
    margin-left: 5px;
    width: 100%;
    float: right;
    text-align: right;
}
tr:hover td.row-actions ul{
    visibility: visible;
}
td.transaction-title{
	font-size: 13px;
	font-weight: 400;
}
/** End of transaction table **/

/** Charts **/
.chart-legend{
	color: #000 !important;
	font-style: italic;;
}
.btn-group.flexing {
  display: flex;
  margin-bottom: 12px;
}
.flexing .btn {
  flex: 1
}
.flexing .btn:hover,
.flexing .btn.active,
.flexing .btn:hover a,
.flexing .btn.active a{
	color: #fff;
    background-color: #6b9dbb !important;
    border-color: #538db0;
    opacity: 0.85;
    text-decoration: none;
}
.flexing .btn a{
	display: block;
	width: 100%;
	height: 100%;
	color: #7da8c3;
}